body {
    background-color: #ffffff;
    color: #505050;
}
.btn-primary {
    background-color: #d63f11;
    border-color: #d63f11;
}
.btn-secondary {
    background-color: #505050;
    border-color: #505050;
}
.btn-success {
    background-color: #76B830;
    border-color: #76B830;
}

.navbar {
    border-bottom: 2px solid #d63f11;
}

.navbar .nav-link {
    font-weight: 500;
    color: #505050;
    transition: color 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #d63f11;
}


/* pagination.css or in your main stylesheet */

.rkw-pagination .page-link {
    color: #505050; /* Standard grey */
}

.rkw-pagination .page-item.disabled .page-link {
    color: #505050;
    cursor: not-allowed;
    opacity: 0.6;
}

.rkw-pagination .page-item.active .page-link {
    background-color: #d63f11; /* orange */
    border-color: #d63f11;
    color: white;
}

/* alert dismiss */
.alert-dismissible .fadeout-timer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    animation: shrink 15s linear forwards;
}

@keyframes shrink {
    from { width: 100%; }
    to { width: 0%; }
}

/* Import list */
.imported-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

/* Lettering "Imported" */
.imported-label {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    font-size: 2rem;
    font-weight: bold;
    color: #198754;
    opacity: 0.15;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
}

/* Hook remains centred */
.check-icon {
    font-size: 4rem;
    color: #198754;
    opacity: 0.3;
    filter: drop-shadow(0 0 2px #000);
}

.form-group {
    margin-bottom: 1rem;
}

.button-footer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
